<div class="row">
<div class="col s8">
<h4>Personal Emergency Text Alerts</h4>

<h5>Working in Real Estate can Be Dangerous.</h5>
<p>The nature of the real estate industry encourages agents to meet with people they've never met, oftentimes in homes or areas they are not familiar with. As part of their marketing efforts, agents put their name, picture and contact information in the public space, hoping to convert strangers to clients. This opens the door to potentiall dangerous situations, especially when meeting in rural areas or vacant homes.

<h5>What Does Agent Alert Do?</h5>
<p>Agent Alert allows users to register a list of personal contacts who will be notified in the event that you text us a "panic word". Future versions of Agent Alert will allow you to set automatic alerts, which will alert your contacts at a time of your chosing unless you text us a specified "clear" word.</p>

<% if !logged_in? %>
  <h5>How Do I Sign Up?</h5>
  <p>Our serice is free. You must have a valid email and cell phone number to use Agent Alert. Please click on "Sign Up" at the top of this page.</p>
<% end %>
</div>
</div>