<div class="row index-welcome">
<div class="col s8">
<h4>Personal Emergency Text Alerts</h4>

<h5>Working in Real Estate can Be Dangerous.</h5>
<p>The nature of the real estate industry encourages agents to meet with people they've never met, oftentimes in homes or areas they are not familiar with. As part of their marketing efforts, agents put their name, picture and contact information in the public space, hoping to convert strangers to clients. This opens the door to potentiall dangerous situations, especially when meeting in rural areas or vacant homes.

</div>
</div>